<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144961084706-17q50ls7harupdcd934c3tru6ajq541m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144961084706-17q50ls7harupdcd934c3tru6ajq541m</string>
	<key>API_KEY</key>
	<string>AIzaSyDVLN2GMXx7o93UdqSyMLLErp2c23a1clU</string>
	<key>GCM_SENDER_ID</key>
	<string>144961084706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoproject</string>
	<key>PROJECT_ID</key>
	<string>apptodo-217f3</string>
	<key>STORAGE_BUCKET</key>
	<string>apptodo-217f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144961084706:ios:b2a31c72b0269b45eb197b</string>
</dict>
</plist>